page-home {
    .outcar {
        text-align: center;
        background-color: rgb(13, 172, 13);
        width: 200px;
        height: 200px;
    }
    .incar {
        background-color: #f58a2a;
        width: 200px;
        height: 200px;
    }
    .text {
        color: rgb(245, 241, 239);
        font-size: 50px;
    }
    .title {
        text-align: center;
        color: #d0d7e7;
        font-size: 20px;
    }
}