page-listinfo {
    .item-md p {
        font-size: 1.4rem;
    }
    .first-title {
        text-align: center;
        color: #d0d7e7;
        font-size: 20px;
    }
    .title {
        text-align: center;
        color: #d0d7e7;
        font-size: 20px;
        height: 30px;
    }
    .first-title-img {
        float: left;
        margin-top: 4px;
    }
    .last-title-img {
        float: left;
        margin-top: 5px;
    }
    .first-content-img {
        width: 10px;
        height: 10px;
        float: left;
        margin-top: 2px;
    }
    .middle-content-img {
        width: 10px;
        height: 10px;
        float: left;
        margin-top: 3px;
    }
    .last-content-img {
        width: 10px;
        height: 10px;
        float: left;
        margin-top: 4px;
    }
    .point-content-img {
        width: 10px;
        height: 10px;
        float: left;
        margin-top: 2px;
    }
    .list-md .item-block .item-inner {
        border-bottom: 0 none;
    }
}