<ion-header>
    <ion-navbar color="dark">
        <ion-title>
            订单列表
        </ion-title>
        <ion-buttons right>
            <button ion-button icon-only (click)="goListener()">
                    <!-- <ion-icon name="headset"></ion-icon> -->
                    听单
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content padding class="bgcolor">

    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="下拉刷新" refreshingSpinner="circles" refreshingText="正在刷新...">
        </ion-refresher-content>
    </ion-refresher>

    <div class="title" *ngIf="msg">
        <p>{{msg}}</p>
    </div>
    <ion-list *ngIf="!msg">
        <ion-item *ngFor="let item of items;let key = index">
            <button ion-item (click)="goProgress(item)">
              <span ion-text ion-start class="item-bold">{{item.PassagerId.Name}}</span>
              <span ion-text ion-start>{{item.Number}}人</span>
              <span ion-text ion-start>{{item.PassagerId.Phone}}</span>
              <span item-end >
                  {{item.State}}
              </span>
              <span item-end ><ion-icon md="ios-arrow-forward"></ion-icon></span>
              <div style="height:30px;margin-top:5px;">
                  <img src="././assets/imgs/ico－4.png" alt="" class="first-content-img"  >
                  <p>&nbsp;&nbsp;{{item.AppointDate}}</p>
              </div>
              <div style="height:30px;">
                  <img src="././assets/imgs/ico－5.png" alt="" class="middle-content-img" >
                  <p>&nbsp;&nbsp;{{item.Departure}}</p>
              </div>
              <div style="height:30px;">
                  <img src="././assets/imgs/ico－6.png" alt="" class="last-content-img" >
                  <p>&nbsp;&nbsp;{{item.Destination}}</p>
              </div>
              <div style="height:30px;">
                <img src="././assets/imgs/ico－12.png" alt="" class="point-content-img" >
                <p>&nbsp;&nbsp;{{item.Passpoint}}</p>
              </div>
          </button>
        </ion-item>
    </ion-list>
</ion-content>